CHECK_URL=https://mywebsite.com
TELEGRAM_BOT_TOKEN=TOKEN
TELEGRAM_RECEIVERS_CHAT_IDS=222,222,222
SEND_EMAIL_ADDRESS=my_email@gmail.com
SEND_EMAIL_PASSWORD=YOUR_APP_PASSWORD
RECEIVERS_EMAILS=my_email@gmail.com
DEBUG=0
