# Email
SEND_EMAIL_ADDRESS=my_email@gmail.com
SEND_EMAIL_PASSWORD=YOUR_APP_PASSWORD

# Telegram
TELEGRAM_BOT_TOKEN=TOKEN

# Slack
SLACK_URL="https://company.slack.com/"
SLACK_TOKEN="YOUR_SLACK_TOKEN"

# Webhook
WEBHOOK_URL="your-webhook-url"
WEBHOOK_X_API_KEY="your-webhook-x-api-key"

# Twitter
TWITTER_CONSUMER_KEY="YOUR_CONSUMER_KEY"
TWITTER_CONSUMER_SECRET="YOUR_CONSUMER_SECRET"
TWITTER_ACCESS_TOKEN="YOUR_ACCESS_TOKEN"
TWITTER_ACCESS_TOKEN_SECRET="YOUR_ACCESS_TOKEN_SECRET"

# Facebook
FACEBOOK_ACCESS_TOKEN="YOUR_ACCESS_TOKEN"

# Discord
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN"
